.sjfcard {
    width: 600px;
    height: fit-content;
    max-width: 650px;
    margin: 3px;
    background-color: rgba(249, 247, 247, 0.827) !important;

    // smoothen the transition i.e. the pop-up effect
    transition: all 0.5s ease-in-out;

    &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        transform: scale(1.01);
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
    }
}

// Medium devices (tablets, less than 768px)
@media (max-width: 768px) {
    .sjfcard {
        width: 80%;
        margin: 2px;
    }
}

// Small devices (landscape phones, less than 576px)
@media (max-width: 576px) {
    .sjfcard {
        width: 95%;
        margin: 1px;

        &:hover {
            // Optionally, simplify the hover effect for small devices
            transform: none;
            box-shadow: none;
        }
    }
}